*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-optical-sizing: auto;
}

.cards-catalog {
  width: 1280px;
  height: 1715px;
  margin: 0 auto;
  padding-top: 220px;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: 105px 0;
  background-size: 790px 697px;
}

.cards-catalog__title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  margin: 0 0 110px;
}

.cards-catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  width: 1110px;
  margin: 0 auto;
}

.product-card {
  background-color: #F7F7FA;
  padding: 25px;
  width: 340px;
  border-radius: 10px;
}

.product-card__image {
  width: 290px;
  margin: 0 0 30px;
}

.product-card__purpose {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.product-card__title {
  color:#515076;
  font-weight: 700;
  margin: 0 0 5px;
}

.product-card__description {
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 15px;
}

.product-card__compound {
  color: #515076;
  line-height: 18px;
  margin: 0 0 5px;
}

.product-card__ingredients {
  list-style: circle;
  padding-left: 20px;
  margin: 0 0 25px;
  color: #515076;
}

.product-card__price {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #515076;
}

.change-color-button {
  background-color: #A5A3B9;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.change-color-button--green {
  background-color: green;
}

.change-color-button--red {
  background-color: red;
}

button {
  padding: 10px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  background-color: #A5A3B9;
  color: #515076;
  cursor: pointer;
}